*{
    padding: 0px;
    margin: 0px;
    font-family: 'Poppins' , 'Open Sans';
}
#nav{
    background-color: #7cb8eb;
    color: white;
    padding: 11px;
}
#nav a{
    color: white;
    text-decoration-line: none;
    /* margin-left: 45%; */
}
#nav img{
    vertical-align: middle;
    margin-left: 8%;
}
header{
    background-image:url("../imgs/bg2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
#divb{
    background-color: rgba(49, 121, 172, 0.485);
}
header a{
    color: white;
    text-decoration-line: none;
    margin: 20px;
    font-size: 25px;
}
#a1{
    font-size: 30px;
    margin-right: 0%;
    margin-left: 0%;
}
.puimg{
    width: 60px;
    border-radius: 50%;
    margin: 2% 1% 1% 4%;
    vertical-align:middle;
    background-color: white;
    padding: 15px;
}
.btn1{
    color: white;
    border-radius: 30px;
    padding: 10px;
    border-color: white;
    border-style: groove;
    background-color: rgba(255, 255, 255, 0);
    font-size: 25px;

}
.btn2{
    color: white;
    border-radius: 30px;
    padding: 12px;
    border-color: rgba(91, 152, 225, 0.923);
    border-style: solid;
    background-color: rgba(91, 152, 225, 0.923);
    font-size: 25px;
}
#diva h1{
    color: white;
    padding: 5%;
}
.lsec h2{
    display: inline-block;
    border-radius: 30px;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    position: relative;
    top: -27px;
    box-shadow: 0px 8px 33px rgba(86, 82, 82, 0.599) ;
}
.ldiv{
    text-align: center;
    padding: 4%;

}
.ldiv img{
    padding: 1%;
}

footer{
    background-color:rgba(91, 152, 225, 0.923);
    color: white;

}
footer a{
    color: white;
    text-decoration-line: none;
    margin: 5px 20px;  
}
#div1,#div2,#div3{
    /* display: flex; */
    margin: 3%;
}
#navfot{
    display: block;
    width: 100%;
    height: 20%;
}
.bigdiv{
    display: flex;
    padding-left: 13%;
}

section{
    display: flex;
    /* background-color: yellowgreen; */
}
.c0{
    /* background-color: yellowgreen; */
    /* display: flex; */
    width: 40%;
    margin: 4%;
}
.c1{
    /* background-color: yellowgreen; */
    /* text-align: center; */
    margin: 5%;
    width: 70%;
    /* border-radius: 30px; */
    padding: 30px;
    font-size: 20px;
}
.c2{
    /* background-color: bisque; */
    width: 70%;
    margin: 5%;
    border-radius: 30px;
    padding: 30px;
    box-shadow: 3px 4px 68px rgba(85, 82, 82, 0.415);
    font-size: 25px;
}
.c2 a{
    color: rgb(104, 104, 104);
    text-decoration-line: none;
}
.c2 p{
    color: rgb(104, 104, 104);  
}
.c3{
    /* background-color: #7cb8eb; */
    width: 36%;
    margin: 2%;
    box-shadow: 19px 3px 107px rgba(90, 90, 90, 0.615);
    border-radius: 30px;
    padding: 3%;
    font-size: 35px;
}
.c3 input , .c3 select , .c3 textarea {
    border-radius: 8px;
    /* background-color: #7cb8eb; */
    padding: 1% ;
    margin: 1.5% 0.25%;
    border: grey solid 1px;
}
.c3 input{
    width: 45%;
}
.c3 select , .c3 textarea {
    width: 96%;
}
.c3 .btn2{
    margin: 0% 28%;
}