body{
    display: flex;
    background-color: antiquewhite;
}
div{
    width: 25%;
    background-color: white;
    border-radius: 30px;
    padding: 2%;
    margin: 40px;
    transition:all 3s ease-in-out;

}
div:hover{
    color: red;
    border: 3px solid black;
    transform: rotate(40deg) scale(1.2) translate(200px);
    box-shadow: 0 10px 15px #000;
    position: relative;
    z-index: 10;
    font-size: 30px;
}